{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">Leave Balance</h2>

<!-- SELECT EMPLOYEE -->
<form method="GET"  action="/attendance/leave/balance/" class="mb-4 d-flex gap-2">
    <select name="employee" class="form-control">
        <option value="">Choose Employee</option>
        {% for emp in employees %}
        <option value="{{ emp.id }}" {% if selected_employee and emp.id == selected_employee.id %}selected{% endif %}>
            {{ emp.name }}
        </option>
        {% endfor %}
    </select>
    <button class="btn btn-primary">Show Balance</button>
</form>

{% if selected_employee %}

<div class="row mb-4">
    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm">
           <h5>Monthly Allocated Leaves</h5>
            <h3>{{ total_leaves }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm">
            <h5>Leaves Taken</h5>
            <h3>{{ leaves_taken }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm">
            <h5>Remaining</h5>
            <h3>{{ leaves_remaining }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm">
            <h5>Additional Leaves</h5>
            <h3>{{ additional_leaves_count }}</h3>
        </div>
    </div>
</div>


<!-- APPLY ADDITIONAL LEAVE -->
<div class="card p-4 mb-4 shadow-sm">
    <h4>Request Additional Leave</h4>

 <form method="POST" action="{% url 'add_additional_leave' %}">
    {% csrf_token %}
    <input type="hidden" name="employee" value="{{ selected_employee.id }}">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>From Date</label>
                <input type="date" name="start_date" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
                <label>To Date</label>
                <input type="date" name="end_date" class="form-control" required>
            </div>
        </div>

        <div class="mb-3">
            <label>Reason</label>
            <textarea name="reason" class="form-control" required></textarea>
        </div>

        <button class="btn btn-success">Request Additional Leave</button>
    </form>
</div>


<!-- APPROVED NORMAL LEAVES -->
<div class="card p-4 mb-4 shadow-sm">
    <h4>Approved Leaves</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <th>Days</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in approved_leaves %}
            <tr>
                <td>{{ leave.leave_type }}</td>
                <td>{{ leave.start_date }}</td>
                <td>{{ leave.end_date }}</td>
                <td>{{ leave.total_days }}</td>
                <td>{{ leave.reason }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="5">No approved leaves</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- APPROVED ADDITIONAL LEAVES -->
<div class="card p-4 shadow-sm">
    <h4>Approved Additional Leaves</h4>

<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>From</th>
            <th>To</th>
            <th>Days</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        {% for leave in additional_leaves_list %}
        <tr>
            <td>{{ leave.employee.name }}</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.total_days }}</td>
            <td>{{ leave.reason }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No additional leaves</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endif %}

{% endblock %}